/* able of contents */
/* 1. FONT */
/* 2. GENIRAL STYLES */
/* 3. CONTAINER */
/* 4. SITE-HEADER   */
/* 5. EXCHANGE-RATES */
/* 6. SEARCH-BUTTON */
/* 7. LANGUAGE-TOGGLER */
/* 8. TELEGRAM-SUB  */
/* FONTS */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url('../webfonts/rubik-v9-latin-regular.woff2') format('woff2'), 
  url('../webfonts/rubik-v9-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:  url('../webfonts/Rubik-Medium.woff2') format('woff2'), 
  url('../webfonts/Rubik-Medium.woff') format('woff'); 
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:  url('../webfonts/rubik-v9-latin-700.woff2') format('woff2'), 
  url('../webfonts/rubik-v9-latin-700.woff') format('woff'); 
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url("../webfonts/roboto-v20-latin-regular.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:  url("../webfonts/roboto-v20-latin-italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:  url("../webfonts/roboto-v20-latin-500.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:  url("../webfonts/roboto-v20-latin-500italic.woff2") format("woff2"),
  url("../webfonts/roboto-v20-latin-500italic.woff") format("woff");
}
/* GENIRAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;   
}
*,
*::before,
*::after  {
  box-sizing: inherit;
}
body{
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
}
/* CONTAINER */
.container{
  max-width: 1240px;
  margin: 0px auto;
}
/* SITE-HEADER */
.site-header{
  padding-top: 40px;
  border-top: 4px solid #295093;
  background-color: #f6f6f9;
}
.site-header_top{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
}
.site-header_actions{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
/* EXCHANGE-RATES */
.exchange-rates{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 17px;
  list-style-type: none;
  color: #7a7a7a;
}
.exchange-rates_item:not(:last-child){
  margin-right: 26px;
}
.exchange-rates_icon{
  color: #285193;
}
/* SEARCH-BUTTON */
.search-button{
  padding: 8px;   
  border: none;
  background-color: #fff; 
}
/* LANGUAGE-TOGGLER */
.language-toggler{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
/* TELEGRAM-SUB */
.telegram-sub{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #1e96c8;
  background-image: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 96%);
  text-decoration: none;
}
.telegram-sub_text{
  font-weight: 600;
}